.verb-block {
  margin-bottom: 1.5em;
  margin-left: 1em;
}

  .verb-block-heading {
    margin-bottom: .4em;
    margin-left: -.75em;
  }

    .verb-block-heading i {
      min-width: 13px;
    }

  .verb-block ul {
    list-style-type: none;
  }

  .verb-block ul.is-collapsed {
    display: none;
  }

    .verb-block ul li strong::before {
      content: '>>> ';
    }

    .verb-block ul li strong::after {
      content: ' <<<';
    }
